/* styles/globals.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Monda";
  src: url("/fonts/Monda-Regular.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

* {
  font-family: "Monda", sans-serif;
  color: white;
}

body {
  background-color: #1f2027;
  font-size: 1.25rem;
}

html, body, #__next, #__next > div, #__next > div > div {
  height: 100%;
  width: 100%;
}
