@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  font-family: "Rubik", sans-serif;
  color: white;
}

/* body {
  background-color: #19191a;
  opacity: 0.8;
  background-image: radial-gradient(#222222 1.1px, #19191a 1.1px);
  background-size: 22px 22px;
} */

body {
  background-color: #1f2027;
}
